.open {
    font-size: 16px;
    cursor: pointer;
    float: left;
    -o-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    left: 0;
    margin: 0;
    overflow: hidden;
    background-color: #454545;
    color: #333333;
    margin-top:    0;
    margin-bottom: 0;
    margin-left:   0;
    margin-right:  0;
    /*position: right;*/
}

#title {
    margin-top:    0;
    margin-bottom: 0;
    margin-left:   0;
    margin-right:  0;
    
    color:            #FFFFFF;
    background-color: #000000;
    text-align:       center;
    font-size:        120px;    
    font-family:      'Raleway';
    font-weight:      100;
    padding:          25px
}

#title ul {
    list-style-type: none;
    margin:          0;
    padding:         0;
}

#createRoomTitle {
    margin-top:    0;
    margin-bottom: 0;
    margin-left:   0;
    margin-right:  0;
    
    color:         #FFFFFF;
    text-align:    center;
    font-size:     3.5em;
    font-family:   'Ubuntu';
    font-weight:   100;
}

#makeRoom {
    margin-top:    0;
    margin-bottom: 0;
    margin-left:   0;
    margin-right:  0;
    
    color:         #FFFFFF;
    text-align:    center;
    font-size:     2em;
    font-family:   'Ubuntu';
    font-weight:   100;
}

#private{ 
    width: 2em;
    height: 2em;
}

#roomName{
    color:         #000000;
    text-align:    center;
    font-size:     0.75em;
    font-family:   'Ubuntu';
    font-weight:   100;
}

#tutorName{
    color:         #000000;
    text-align:    center;
    font-size:     0.75em;
    font-family:   'Ubuntu';
    font-weight:   100;
}

#createRoomButton{    
    background-color: #777777;
    border:           0.05em solid #777777 ;
    border-radius:    0.35em;
    padding:          0.0em 0.15em 0.0em 0.15em;
    
    color:         #000000;
    text-align:    center;
    font-size:     1.25em;
    font-family:   'Ubuntu';
    font-weight:   100;
}